<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD_Cloin_Facturacion"
            connectionString="Data Source=DESKTOP-Q3MK8FB\SQLEXPRESS; Initial Catalog=BD_Cloin_Facturacion; Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>